* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-image: url(https://res.cloudinary.com/spacejelly-tutorials/image/upload/v1700509870/my-daisy-app/jeremy-thomas-E0AHdsENmDg-unsplash_o6g1ov.jpg);
}
body {
  text-align: center;
  line-height: 1.5;
}
